/*
CSS Credit: http://www.templatemo.com/
*/

/* 
Black Fox Template 
http://www.templatemo.com/preview/templatemo_256_black_fox 
*/
body {
	margin:0px;
	padding:0px;
	color:#717174;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:13px;
	line-height:1.5em; 
	background-image: url(../images/fondoweb.jpg);
}

a, a:link, a:visited {
	color:#c0c0c2;
}

a:hover {
	color: #00FFFF;
	text-decoration:none;
}

p { margin: 0px; padding: 0 0 10px 0; }
img { border: none; }

h1, h2, h3, h4, h5 { font-weight: normal; }

h1 { font-size: 40px; color: #fff; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 32px; color: #fff; margin: 0 0 20px 0; padding: 0; }
h3 { font-size: 21px; color: #fff; margin: 0 0 20px 0; padding: 0; }
h4 { font-size: 18px; color: #fff; margin: 0 0 10px 0; padding: 0; }
h5 { font-size: 16px; color: #fff; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0;}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.image_wrapper {
	padding: 8px;
	border: 1px solid #333;
	background: #000;
	margin-bottom: 10px;
}
.fl_img {
	float: left;
	margin: 3px 30px 15px 0;
}
.fr_img {
	float: right;
	margin: 3px 0 15px 15px;
}

blockquote { font-style: italic; }
cite { font-weight: bold; }
cite span { color: #fff; }

.button a {
	clear: both;
	display: block;
	width: 109px;
	height: 30px;
	padding: 4px 0 0 0;
	background:	url(../images/templatemo_button.png) no-repeat;
	
	
	color: #ccc;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
}

.button a:hover {
	color: #fff;
	background: url(../images/templatemo_button_hover.png) no-repeat;
}

ul {
	margin: 20px;
	padding: 0;
	list-style-image:  url(../images/list_icon.png);
}

ul li {
	margin: 0 0 15px 0;
	padding: 0 0;
}

/* menu */

#templatemo_menu_wrapper {
	width: 100%;
	height: 50px;
    background: url(../images/templatemo_menu_wrapper.jpg) repeat-x;
}

#templatemo_menu {
	width: 920px;
	height: 50px;
	margin: 0 auto;
	padding: 0 30px;
	background: url(../images/templatemo_menu.jpg) no-repeat;
}

#templatemo_menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#templatemo_menu ul li{
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	display: block;
	width: 124px;
	height: 38px;
	padding: 12px 0 0 0;
	margin-right: 1px;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	color: #d8d3bd;	
	font-weight: normal;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #fff;
	background: url(../images/templatemo_menu_hover.png) no-repeat;
}


/* end of menu */

/* header */

#templatemo_header_wrapper {
	width: 100%;
	height: 250px;
    background: url(../images/templatemo_header_wrapper.jpg) repeat-x;
	border-bottom: 1px solid #000;
}

#templatemo_header {
	overflow: hidden;
	width: 920px;
	height: 210px;
	padding: 20px 30px;
	margin: 0 auto;
	background: url(../images/templatemo_header.jpg) no-repeat;
}

#templatemo_header  #site_title {
	float: left;
	padding: 40px 20px 0 100px;
}

#templatemo_header  #site_title h1 {
	margin: 0;
	padding: 0;
}

#templatemo_header  #site_title h1 a{
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#templatemo_header  #site_title h1 a span {
	display: block;
	text-align: left;
	font-size: 14px;
	color: #5f6675;
	font-weight: bold;
	letter-spacing: 2px;
}

#templatemo_header #templatemo_slider {
	float: right;
	width: 430px;
	height: 200px;
	padding: 10px;
	background: url(../images/templatemo_slider.png) no-repeat;
	
}

/* end of header */

/* top row */

#templatemo_top_row_wrapper {
	clear: both;
	width: 100%;
	height: 160px;
	background: url(../images/templatemo_top_row.jpg) repeat-x; 
	border-bottom: 1px solid #000;
}

#templatemo_top_row {
	width: 930px;
	margin: 0 auto;
	padding: 0 25px;
}

#templatemo_top_row .top_row_box {
	overflow: hidden;
	float: left;
	width: 250px;
	height: 110px;
	padding: 20px 45px 20px 15px;
	background: url(../images/templatemo_top_row_divider.png) right center no-repeat;
}

#templatemo_top_row .last {
	background: none;
}

#templatemo_top_row p {
	color: #777270;
}

/* end of top row */

/* content*/

#templatemo_content_wrapper {
	clear: both;
	width: 100%;
	border-bottom: 1px solid #282829;	
}

#templatemo_content {
	width: 930px;
	padding: 60px 30px;
	margin: 0 auto;

}

.two_column {
	width: 430px;
}

.services_section {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #CCC;
	background: url(images/templatemo_divider.jpg) bottom repeat-x;	
}

.services_section h4 {
	margin-bottom: 20px;
}

.services_section .left {
	float: left; 
	width: 150px;
	margin-right: 30px;
}

.services_section .middle {
	float: left; 
	width: 350px;
}

.services_section .right {
	float: right; 
	width: 350px;
}

.services_section .left img {
	border:1px solid #CCC;
	padding: 5px;
}

/* post */

.post_box {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 30px;
	background: url(images/hor_divider.jpg) bottom repeat-x;	
}

.post_box .post_content {
	clear: both;
	margin: 10px 0;
}
.post_content .left {
	float: left; 
	width: 300px;
}

.post_content .left img {
	width: 280px;
	height: 160px;
	border:1px solid #000;
	padding: 5px;
	background: #1a1b1c;
}

.post_content .right {
	float: right; 
	width: 600px;
}

.post_content h2 {
	margin-bottom: 5px;
}

.post_box p {
	padding-bottom: 5px;
	margin: 20px 0 10px 0;
}

.post_section .post_info{
	font-style: italic;
}

.post_box .comment_tab {
	padding: 10px 0;
	margin: 40px 0 20px 0;
	border-bottom: 1px dashed #666;
	font-size: 20px;
	font-weight: bold;
}


/* end of post */

/* gallery */
#gallery {
		width: 930px;
		padding: 40px 0;
	}
	#gallery ul { list-style: none; margin: 0; padding: 0; }
	#gallery ul li {
		float: left;
		display: inline; 
		padding: 0;
		margin: 0;
		width: 245px;
		margin: 0 60px 60px 0;
	}
	
	#gallery ul li h5 {
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px dotted #CCC;
	}
	 
	#gallery ul img {
		width: 245px;
		height: 130px;
		border: none;
		margin-bottom: 10px;
	}
/* end of gallery */
#contact_form {
	float: left;
	padding: 0;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
	/*border:1px solid #e2d1be;
	padding: 20px 20px 10px 20px; */
}

#contact_form form .input_field {
	height: 18px;
	width: 260px;
	background: #222222;
	border: 1px solid #666666;
	color: #CCCCCC;
	padding: 4px;
}

#contact_form form label {
	display: block;
	width: 100px;
	margin-right: 10px;
	font-size: 14px;	
}

#contact_form form textarea {
	width: 350px;
	height: 150px;
	background: #222222;
	border: 1px solid #666666;
	color: #CCCCCC;
	padding: 4px;
}

#contact_form form .submit_btn {
	margin-right: 80px;
	padding: 5px 10px;
	background: #222222;
	border: 1px solid #666666;
	color: #CCCCCC;
}


/* end of content */

/* footer */

#templatemo_footer_wrapper {
	clear: both;
	width: 100%;
	background: #090909;
	border-top: 1px solid #000;	
	border-bottom: 1px solid #000;
}

#templatemo_footer {
	width: 930px;
	padding: 45px 30px;
	margin: 0 auto;
	color: #d8d3bd;
}

.footer_box {
	float: left;
	width: 280px;
	padding: 0 30px 0 0;
}

.footer_menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer_menu li {
	margin: 0;
	padding: 5px 0;
}

.footer_menu li a {
	color: #d8d3bd;
}

.footer_menu li a:hover {
	color: #fff;
}

#templatemo_footer img{
	padding: 4px;
	background: #000;
	border: 1px solid #34322f;
	margin-bottom: 10px;
}

/* end of footer */

/* copyright */

#templatemo_copyright_wrapper {
	width: 100%;
	background: #000000;
	border-top: 1px solid #262626;
}

#templatemo_copyright {
	width: 960px;
	margin: 0 auto;
	padding: 15px 20px;
	text-align: center;
	color: #6e6965;
}

#templatemo_copyright a {
	color: #6e6965;
}
/* end of copyright */