/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2021, 06:41:12 PM
    Author     : usuario
*/


/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/

#main-container{
  /*margin: 150px auto;
  width: 600px;*/
  
 
}

body{
  background-color: #632432;
  font-family: Arial;
}



table{
  background-color: #FFF;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

th{
  padding: 20px;
    color: #fff;
}
 td{
  padding: 20px;
    color: #504f50;
}

thead{
  background-color: #009688;
  border-bottom: solid 5px #0F362D;
  color: white;
}

tr:nth-child(even){
  background-color: #ddd;
}

tr:hover td{
  background-color: #4db6ac;
  color: #0a0a0a;
}
/* esttilo boton agregar nuevo provedor*/
.estiloBoton{
    color: #fff;
    background-color: #009688;
    border-color: #1c99cd;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}