*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

/* inicializador */

body{
    font-size: 16px;
    font-family: sans-serif;
    color: #F4F6F7;
}

a{
    text-decoration: none;
}

/* fin inicializador */

/* estilos para el header */
header{
    background-color: #F4F6F7;
    width: 100%;
    height: 100px;
    border-bottom: 10px solid #F4F6F7;
    position: fixed;
    
}

.contenedor{
    width: 95%;
    max-width: 1300px;
    margin: auto;
}

.logo{
    margin: 3px 0;
    float: left;
    width: 95px;
}

.logo img{
    width: 100%;
    padding: .2rem;
}

input#btn-menu{
    display: none;
}


header label{
    float: right;
    margin: 33px 0;
    cursor: pointer;
    display: block;
}

header .contenedor{
    display: table;
}

.menu{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(53, 66, 74,.9);
    transition: all .5s;
    transform: translateX(-100%);
    list-style: none;
    
}

.menu a{
    display: block;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,.5);
    color: #EEF8F8;
    transition: all .5s;
}

.menu a:hover{
    background-color: rgba(6, 247,88, .5);
    color: #EEF8F8;
}

#btn-menu:checked ~ nav .menu{
    transform: translateX(0%);
}

/* fin */

/* media queries para el menu de navegación */

@media (min-width: 1100px){   
    header, .menu{
        background: #FFF;    
    }
    
    .menu  a{
        color: #FFF;
        padding: 2.2rem;
    }
    
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        align-content: center;
        align-items: center;
        vertical-align: center;
        align-self: center;
    }
    
    .menu a{
        border: none;

    }
    
    .menu a:hover{
    background-color: transparent;
    color: rgba(6, 247,88, .5);
}

#btn-menu:checked ~ nav .menu{
    transform: translateX(0%);
}
    
    header label{
        display: none;
    }
}

/* fin */

/* estilos para el main */
main{
   width: 100%;
}

.banner{
    padding-top: 100px;
    max-width: 100vw;
}

.banner img{
    width: 100%;
}
.seccion-1, .refran, .seccion-2, .seccion-3{
    margin: 1rem 0;
}

.seccion-1 h2, .refran h2, .seccion-2 h2, .seccion-3 h2{
    text-align: center;
    font-size: 2rem;
    padding: .5rem;
}

.nos-enorgullecemos, .nosotros{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nos-enorgullecemos article, .nosotros article{
    border: 1px solid #FFF;
    width: 100%;
    padding: 1rem;
    margin: .5rem;
}

.nos-enorgullecemos h3, .nosotros h3{
    font-size: 1.5rem;
}

.refran{
    background: url(../img/banner-1-muestra.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 3.5rem;
    text-align: center;
}

.refran h2, .refran p{
    color: #FFF;
}

.refran p{
    font-size: 1.5rem
}

.alumnos-dicen{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.alumnos-dicen article{
    border: 1px solid #FFF;
    padding: 1.5rem;
    margin: .5rem 0;
    transition: 1s all;
}

.alumnos-dicen article:hover{
    background-color: #06F758;

}

.alumnos-dicen article img{
    border-radius: 100%;
    width: 150px;
}

.descargar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.descargar article{
    width: 100%;
    border: 1px solid #FFF;
    padding: 1.5rem;
    margin: .5rem 0;
}

.descargar article a{
    color: #000;
    width: 100%;
}

.descargar article{
    transition: 1s all;
}

.descargar article:hover{
    background-color: #06F758;
}

.nosotros article p{
    text-align: left;
}

.resena article{
    width: 100%;
}

.resena article p{
    padding: .5rem;
}

.oyf{
    padding: .5rem;
    text-align: left;
}

.oyf li{
    margin: 10px;
}

.centrado{
    text-align: center;
    font-size: 1.5rem;
}

.texto{
    padding: 1rem;
    font-size: 1rem;
}
/* fin */

/* media queries para el main*/

@media (min-width: 600px){
    .nos-enorgullecemos article, .descargar article{ 
        width: 32%;
        margin: .5rem 0;
    }
    
    .alumnos-dicen article{
        width: 49%;
        margin: .5rem 0;
    }
    
    .nosotros{
        height: 100px; 
    }
    
    .nosotros article{
        background: #06F758;
}
    
    .resena article{
    width: 100%;
}
}

@media (min-width:900px){
    .nosotros article{
        width: 48%;

}
    .alumnos-dicen article{
        width: 24%;
        margin: .5rem 0;
    }
    
    .resena article{
    width: 100%;
}
}

/* fin */

/* estilospar el footer */

footer{
    text-align: center;
    color: #FFF;
    background-color: #35424a;
    padding: 1rem;
}

.powered_by{
    padding: .5rem;
    font-size: .8rem;
    color: #AAA;
}

.powered_by a{
    color: #AAA;
    transition: 1s all;
}

.powered_by a:hover{
    text-decoration: underline;
    color: #06F758;
}

/* fin */

.galeria li img {
  display: block;
  max-width: 100%;
}

.galeria {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria__item {
  width: 80%;
  cursor: pointer;
}

@media (min-width:480px) {
  .galeria__item {
    width: 48%;
    margin: 5px;
  }
}
@media (min-width:768px) {
  .galeria__item {
    width: 30%;
  }
}
@media (min-width:1024px) {
  .galeria__item {
    width: 20%;
    margin: 15px;
  }
}

.fancybox article a img{
    border-radius: 0px;
    width: 100%;
}