
.estiloLogin {
      background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
   
   background-color: #0a7ed0;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-image: url(../assets/img/tienda.jpeg);
    }
    .container_form {
    width: 420px;
    box-sizing: border-box;
    height: auto;
    margin: 0;
    background-color: #fff;
    padding: 60px 40px 30px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: #230af1;
    box-shadow: 5px 5px 45px -9px rgb(0 0 0 / 60%);
    webkit-box-shadow: 5px 5px 45px -9px rgb(0 0 0 / 60%);
    -moz-box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/02/2021, 12:20:18 AM
    Author     : usuario
*/

