/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/03/2021, 08:56:23 PM
    Author     : usuario
*/
.tablaDetalleVenta{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background: #93e6e6;
}
