/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/03/2021, 01:11:25 AM
    Author     : usuario
*/
.estiloIconos{
    color: #fff;
    width: 90px;
    height: 80px;
    overflow: hidden;
    border: 1px;
    margin: 0;
    padding: 0;
}
.estiloIconos1{
    color: #fff;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 1px;
    margin: 0;
    padding: 0;
    align:right;
}
.pp {
    font-size: large;
        font-weight: 900;
}
