/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/05/2021, 02:36:39 PM
    Author     : usuario
*/
.divpdf{
    height: 842px;
    width: 595px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}

@page Section1 {
    size:8.27in 11.69in; 
    margin:.5in .5in .5in .5in; 
    mso-header-margin:.5in; 
    mso-footer-margin:.5in; 
    mso-paper-source:0;
}



div.Section1 {
    page:Section1;
} 

@media print {
            .page-break { height:0; page-break-before:always; margin:0; border-top:none; }
        }
     body, p, span, td, a {font-size:9pt;font-family: Arial, Helvetica, sans-serif;}
     body{margin-left:2em; margin-right:2em;}
    .page{
    height:947px;
    padding-top:5px;
    page-break-after : always;   
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
   border-bottom:1px solid #000;

  }